<h1>Прайс-лист</h1>
<hr/>
<table class="table table-condensed table-striped table-bordered">
<tr>
	<th>Наименование</th><th>Цена</th>
</tr>
<%@products.each do |p|%>

<tr>
	<td><%=link_to p.name, p%></td><td><%=number_to_currency(p.price, :format => "%n %u",:unit => "тг.",  :delimiter => " ",:precision => 0)%></td>
</tr>
<%end%>
</table>

 Скачать <%= link_to "Прайс-лист", products_path(format: "xls") %>
