<h2>Продукция</h2>
    <hr>
<div class="row">
  <%@products.each do |p|%>
    <div class="span3">
      
          <a href="/products/<%=p.id%>" class="thumbnail" trigger="focus" rel="popover" 
                data-content=" <b>6'' E-Ink Pearl</b> дисплей      
                <b>1 месяц</b> работы без подзарядки<br>
                <b>Вес 170</b> грамм<br>
                <b>Wi-Fi</b> модуль" data-original-title="<%=p.name%>">
                
                <%=image_tag p.title_image%>
          </a>
      
    </div>
  <%end%>
</div>

<h2>Новинки</h2>
    <hr>

<h2>Спец предложения</h2>
<hr>