<h2>Продукция</h2>
    <hr>
<ul class="thumbnails">

  <%@products.each do |p|%>
  <li class="span3">

      
          <a href="/products/<%=p.id%>" class="thumbnail" rel="popover" 
                data-content=" <%=p.content.to_s[0..100]%>..." title="<%=p.name%>">
                
                <%=image_tag p.title_image%>
          </a>
      
    </li>
  <%end%>
</ul>
<h2>Новинки</h2>
    <hr>

<h2>Спец предложения</h2>
<hr>