/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
 */



body{
     background-image: url("subtle_dots.png");
}

.right {
	 	 width: 150px;
         height: 60px;
         position: fixed;
         top: 10px;
         right: 100px;
		  -webkit-border-radius: 10px;
		  -moz-border-radius: 10px;
		  border-radius: 10px;
}
.red {color :#222;}

.thumbnail{ background-color: #fff;}

footer{
	padding-top: 20px;
}

/*.colorise{*/
/*  background-color: rgba(238, 238, 238, 0.8);*/
/*  background: rgba(238, 238, 238, 0.8);*/
  
/*  -webkit-border-radius: 10px;*/
/*  -moz-border-radius: 10px;*/
/*  border-radius: 10px;*/
  
/*  padding: 10px;     */

/*}*/

a{
  color: #53a275;
}

.backgroundcolor{
  background-color: rgb(67, 167, 212);
  padding-top:10px;
}

.navbar{
  margin-top: -10px;
}

.btncolor{
  background-color: #f2144f;
}

.header-text{
  color:white;
  font-size:14px;
  font-weight:bold;
}

.basket{
  margin-top:5px;
  font-size:15px;
}

a .basket{
  padding:10px;
  color:black;
  font-size:15px;
}
